{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>INDRA</title>
    
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" href="{% static 'image/indra_light.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@700&family=Istok+Web&display=swap" rel="stylesheet">
    
</head>
<body>

<div class="header">

    <div class="header1">
        <a href="{% url 'login' %}"><img src="{% static 'image/logo_inverse.png' %}" alt="Logo"></a>
        <div class="logout">
            <a href="{% url 'logout' %}"><img src="{% static 'image/logout.png' %}" alt="logout" width="30px" height="30px"></a>
        </div>
    </div>

    <div class="header2">
        <a href="{% url 'index' %}" class="a1"><span>ВАШЕ ПРЕДПРИЯТИЕ</span></a>
        <a href="{% url 'zavod' %}" class="a1"><span>КАРТА</span></a>
        <a href="{% url 'alitic' %}" class="a1"><span>АНАЛИТИКА</span></a>   
    </div>

</div>

<div class="menu">
    <div class="nav">
        <a class="a2" href="{% url 'index' %}"><div class="menu_image"><img src="{% static 'image/main_panel.png' %}" width="22px"></div><span>Обзор</span></a>
        <a class="a2" href="{% url 'employs' %}"><div class="menu_image"><img src="{% static 'image/worker.png' %}"></div><span>Реестр сотрудников</span></a>
        <a class="a2" href="#"><div class="menu_image"><img src="{% static 'image/vehicle.png' %}"></div><span>Техника</span></a>
        <a class="a2" href="{% url 'sensors' %}"><div class="menu_image"><img src="{% static 'image/sensor.png' %}"></div><span>Датчики</span></a>
        <a class="a2" href="{% url 'department' %}"><div class="menu_image"><img src="{% static 'image/group.png' %}"></div><span>Отделы</span></a>
        <a class="a2" href="{% url 'oborudovanie' %}"><div class="menu_image"><img src="{% static 'image/device.png' %}"></div><span>Оборудование</span></a>
    </div>
</div>

{% block content %}{% endblock %}

<script type="text/javascript">
    
        $("window").load(function() {
            $("body").removeClass("preload");
        });

</script>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>
    for (let elem of document.querySelectorAll('.a1')) {
        if (elem.href === location.href) {
            $(elem).toggleClass('active')
            elem.style.color = 'white'
        }
    }

    for (let elem of document.querySelectorAll('.a2')) {
        if (elem.href === location.href) {
            $(elem).toggleClass('active')
            elem.style.color = 'white'
        }
    }
</script>


</body>
</html>
