{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Indra</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" href="{% static 'image/402de4e6a8ea2d56.svg' %}">
</head>
<body>

<content class="log">
      <a href="{% url 'login' %}"><img src="{% static 'image/Frame_4.png' %}" alt="Logo"></a>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
    <input class="lab" type="text" name="username" placeholder="  Логин">
    <div>
    <input class="lab" type="password" name="password" placeholder="  Пароль">
    </div>
    <button type="submit" class="active button2">Войти</button>

    </form>
    </content>

</body>
</html>
