{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="article">

        <div class="counters">

            <div class="cont">
                <h1 class="count_number">-</h1>
                <p class="p2">Точки доступа</p>
            </div>

            <div class="cont">
                <h1 class="count_number">-</h1>
                <p class="p2">Wi-Fi радары</p>
            </div>

            <div class="cont">
                <h1 class="count_number">-</h1>
                <p class="p2">BLE</p>
            </div>

            <div class="cont">
                <h1 class="count_number">{% if employs == 0 %}-{% else %}{{ employs }}{% endif %}</h1>
                <p class="p2">Сотрудников</p>
            </div>

            <div class="cont">
                <h1 class="count_number">-</h1>
                <p class="p2">Единиц техники</p>
            </div>

            <div class="cont">
                <h1 class="count_number">-</h1>
                <p class="p2">Товаров</p>
            </div>

        </div>
    </div>
{% endblock %}
