{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="article">

<div class="reestr_buttons">
      <div class="manage_button" style="margin-right: 10px;"><img src="{% static 'image/add.svg' %}" width="40px" height="40px"></div>
      <div class="manage_button"><img src="{% static 'image/rubbish.png' %}" width="40px" height="40px"></div>
      <div class="manage_button" style="background-color: #4A67FF; margin-left: 40px;"><img src="{% static 'image/find.png' %}" width="40px" height="40px"></div>
    </div>

    <table class="reestr_of_workers">
      
        <tr>

          <th>ID оборудования</th>
          <th>Фабричный номер</th>
          <th>Тип оборудования</th>
          <th>Состояние</th>
          <th>Местоположение</th>

        </tr>

        {% for oborud in oborudovanie %}
            <tr>
                <td>{{ oborud.id }}</td>
                <td>{{ oborud.name }}</td>
                <td>{{ oborud.equipment_type }}</td>
                <td>{{ oborud.state }}</td>
                <td><a href="#" style="color: #358bc4">Профиль</a></td>
            </tr>
        {% endfor %}


    </table>

  </div>
{% endblock %}
