{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="article">

<div class="reestr_buttons">
      <a href="#"><div class="manage_button" style="margin-right: 10px;"><img src="{% static 'image/add.png' %}"><p>Добавить</p></div></a>
      <a href="#"><div class="manage_button"><img src="{% static 'image/delete.png' %}"><p>Удалить</p></div></a>
      <a href="#"><div class="manage_button" style=" margin-left: 40px;"><img src="{% static 'image/find.png' %}"><p>Поиск</p></div></a>
</div>

    <table class="database">
      
        <tr>

          <th>ID оборудования</th>
          <th>Фабричный номер</th>
          <th>Тип оборудования</th>
          <th>Состояние</th>
          <th>Местоположение</th>

        </tr>

        {% for oborud in oborudovanie %}
            <tr>
                <td>{{ oborud.id }}</td>
                <td>{{ oborud.name }}</td>
                <td>{{ oborud.equipment_type }}</td>
                <td>{{ oborud.state }}</td>
                <td><a href="#" style="color: #358bc4">Профиль</a></td>
            </tr>
        {% endfor %}


    </table>

  </div>
{% endblock %}
