{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="reestr_buttons">
    <a href="#"><div class="manage_button" style="margin-right: 10px;"><img src="{% static 'image/add.png' %}"><p>Добавить</p></div></a>
    <a href="#"><div class="manage_button"><img src="{% static 'image/delete.png' %}"><p>Удалить</p></div></a>
    <a href="#"><div class="manage_button" style=" margin-left: 40px;"><img src="{% static 'image/find.png' %}"><p>Поиск</p></div></a>
</div>

<div class="article">

    <table class="database">

        <tr>

            <th>ID сотрудника</th>
            <th>ФИО</th>
            <th>Отдел</th>
            <th>Должность</th>
            <th>Допуски к отделам</th>
            <th>Профиль</th>

        </tr>

        {% for sotr in employs %}
            <tr>
                <td>{{ sotr.id }}</td>
                <td>{{ sotr.fio }}</td>
                <td>{{ sotr.department }}</td>
                <td>{{ sotr.position }}</td>
                <td>{{ sotr.department_access }}</td>
                <td><a href="{% url 'employ_view' sotr.id %}" style="color: #358bc4">Профиль</a></td>
            </tr>
        {% endfor %}

    </table>

</div>
{% endblock %}
