{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="reestr_buttons">
      <a href="#"><div class="manage_button" style="margin-right: 10px;"><img src="{% static 'image/add.png' %}"><p>Добавить</p></div></a>
      <a href="#"><div class="manage_button"><img src="{% static 'image/delete.png' %}"><p>Удалить</p></div></a>
      <a href="#"><div class="manage_button" style=" margin-left: 40px;"><img src="{% static 'image/find.png' %}"><p>Поиск</p></div></a>
</div>

<div class="article">

    <table class="reestr_of_workers">

        <tr>

            <th>ID датчика</th>
            <th>Название</th>
            <th>Тип датчика</th>
            <th>Состояние</th>
            <th>Местоположение</th>

        </tr>

        {% for sensor in sensors %}
            <tr>
                <td>{{ sensor.id }}</td>
                <td>{{ sensor.name }}</td>
                <td>{{ sensor.type }}</td>
                <td>{{ sensor.state }}</td>
                <td>{{ sensor.location }}</td>
            </tr>
        {% endfor %}

    </table>

</div>
{% endblock %}
