{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div>
        <section class="menu">

            <div class="nav">
                <a class="a2" href="/zavod/" style="color: #211375;"><span>Без маршрута</span></a><br>
                <a class="a2" href="/zavod/?path=1" style="color: #211375;"><span>Маршрут - 1</span></a><br>
                <a class="a2" href="/zavod/?path=2" style="color: #211375;"><span>Маршрут - 2</span></a><br>
                <a class="a2" href="/zavod/?path=3" style="color: #211375;"><span>Маршрут - 3 (Два этажа)</span></a><br>
            </div>

        </section>
        
    </div>

    <div class="article">
        <iframe src="http://localhost:5173/zavod.html?path={{num_path}}#16.06/55.742451/37.747757/86.7/60" class="map"></iframe>
    </div>
{% endblock %}
