/********************/
/*ОСНОВНЫЕ НАСТРОЙКИ*/
/********************/

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Istok Web', Arial;
}

* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
}

a{
  text-decoration: none;
  color: #fff;
  transition: .25s;
}

span{
  transition: .25s;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}






/******************************************/
/*ОБЩИЕ БЛОКИ ДЛЯ ВСЕХ СТРАНИЦ (base.html)*/
/******************************************/

.header{
  height: 124px;
  width: 100%;
  position: fixed;
  z-index: 3;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
}

.header1{
  position: relative;
  height: 89px;
  width: 100%;
  text-align: center;
  background: #1B1464;
  color: #000;

}

.header1 a {
  height: 56px;
  width: 175px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.logout {
  position: absolute;
  height: 35px;
  width: 35px;
  right: 22px;
  top: 28px;
}

.logout a{
  width: auto;
  height: auto;
}

.header2{
  width: 100%;
  height: 35px;
  bottom: 20px;
  background-color: #4852B1;
  text-align: center;
}

.header2 .a1{
  text-align: center;
  width: 215px;
  height: 100%;
  background-color: none;
  color: #545454;
  display: inline-block;
  margin: auto;
  position: relative;
}

.header2 a span{
  height: 24px;
  color: white;
  font-size: 18px;
  font-family: "Istok Web", Arial;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 5px;
}

.a1:hover{
  text-align: center;
  background-color: #3F378E;
  color: white;
  border-radius: 0 0 7px 7px;
}

.header2 .active{
  text-align: center;
  background-color:#1b1464 ;
  margin: auto;
  border-radius: 0 0 7px 7px;
}

.menu{
  margin-top: 124px;
  position: fixed;
  width: 230px;
  height: 100%;
  font-size: 14px;
  border-right: 0.5px solid #adadad;
  background-color: white;
  box-sizing: border-box;
  z-index: 2;
}

.menu .active{
  text-align: center;
  background-color:#1b1464 ;
  margin: auto;
  color: white;
}

.nav{
  margin-top: 30px;
  width: 100%;
  height: auto;
}

.nav .a2{
  text-align: left;
  width: 100%;
  height: 40px;
  background-color: none;
  color: #545454;
  display: inline-block;
  margin: auto;
  position: relative;
}

.nav a span{
  height: 22px;
  font-size: 15px;
  font-family: "Istok Web", Arial;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 55px;
  right: 0;
  margin: auto;
  float: right;
}

.nav .menu_image{
  position: relative;
  width: 22px;
  height: 22px;
  overflow: hidden;
  margin-left: 24px;
  margin-top: 8px;
  float: left;
}

.nav img{
  position: absolute;
  width: 22px;
}

.nav .a2:hover{
  text-align: center;
  background-color: #3F378E;
  color: white;
}

.nav .a2:hover span{
  text-align: left;
  left: 60px;
  color: white;
}

.nav .a2:hover img{
  top: -22px;
  left: 0px;
}

.nav .active{
  background-color: #1b1464;
}

.nav .active span{
  text-align: left;
  left: 55px;
  color: white;
}

.nav .active img{
  top: -22px;
  left: 0px;
}

.article{
  height: 100%;
  width: 100%;
  padding-left: 230px; 
  padding-top: 124px;
}





/***********************************/
/*СТРАНИЦА АВТОРИЗАЦИИ (index.html)*/
/***********************************/

.login{
  height: 550px;
  width: 281px;
  margin: auto;
  position: absolute;
  display: inline-block;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.login img{
  margin-left: 2px;
}

.form{
  margin: 5px auto;
  width: 187px;
  height: 29px;
  left: 863px;
  top: 520px;
  background: #EBEBEB;
  border: 1px solid #8B8B8B;
  border-radius: 7px;
  padding-left: 7px;
}

.vhod{
  width: 132px;
  height: 41px;
  display:table-column;      
  border-radius: 7px;
  color: #fff;
  text-align: center;
  font-family: "Istok Web", Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;  
  padding: 8px 16px;
  margin: 12px auto 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: background-color 0.1s linear;
  background-color: #291ea5;
  border: 1px solid rgb(143, 150, 146);
}

.vhod:focus{
  background-color:#3F378E;
}

.vhod:hover{
  background-color:#3F378E;
} 





/********************************************************/
/*СТРАНИЦА КАРТА (zavod.html) !!! ЗАМЕНИТЬ НА (map.html)*/
/********************************************************/

.map{
  height: 99%; 
  width: 100%;
}





/*****************************************************************************/
/*СТРАНИЦА ПРЕДПРИЯТИЕ - ОБЗОР (KAMEN.html) !!! ЗАМЕНИТЬ НА (main_panel.html)*/
/*****************************************************************************/

.counters{
  width: 90%;
  height: 100%;
  min-width: 800px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  place-items: center center;
}

.cont{
  padding: 8px 16px;
  display:inline-block;
  width: 265px;
  height: 185px;
  background-color: #DDDDDD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  right: 200px;
}

.cont .p2{
  position: relative;
  text-align: center;
  color: #818181; 
  font-family: 'Istok Web', Arial;
  font-size: 16px;
  bottom: -6px;
}

.cont hr{

  margin: 0 auto;
  width: 200px;
}

.count_number{
  margin-top: 9px;
  margin-bottom: 9px;
  font-size: 96px;
  font-family: 'Inria Sans', Arial;
  text-align: center;
  color: #515151;
}





/****************************************************************************/
/*ОБЩИЕ БЛОКИ ДЛЯ ПРЕДПРИЯТИЕ (KAMEN.html) !!! ЗАМЕНИТЬ НА (main_panel.html)*/
/****************************************************************************/

.database{
  font-size: 16px;
  width: 100%;
  margin: 113px auto 0;
  border-collapse: collapse;
  font-family: 'Istok Web', Arial;
}

.database th{
  background-color: #e2e2e2;
}

.database td{
  text-align: center;
}

.database tr{
  height: 39px;
}

.database tr:nth-child(odd) { 
  background-color: #f4f4f4;
  height: 39px;
}

.reestr_buttons{
  top: 175px;
  position: absolute;
  right: 2%;
  display: inline-block;
}

.manage_button{
  display: inline-block;
  padding-top: 7px;
  text-align: center;
  height: 40px;
  border-radius: 7px; 
  box-shadow: 0px 1px 3px 0 #9d9595;
  transition: .1s;
}

.manage_button img{
  width: 22px;
  height: 22px;
  margin-left: 7px;
  margin-top: 2px;
  float: left;
}

.manage_button p{
  color: black;
  float: right;
  margin: 2px 9px 0 7px;
}

.manage_button:hover{
  box-shadow: 0px 2px 5px 0 #9d9595;
}

.manage_button:active{
  box-shadow: 0px 0px 1px 0 #9d9595;
}

hr{
  border: 0.5px solid #C6C6C6;
  margin-bottom: 5px;
}





/*******************************************************************************/
/*СТРАНИЦА ПРЕДПРИЯТИЕ - РЕЕСТР СОТРУДНИКОВ - ПРОФИЛЬ СОТРУДНИКА  (Reestr.html)*/
/*******************************************************************************/

.foto{
  height: 100%;
  width: 270px;
  position: relative;
  display: inline-block;
  float: left;
}

.foto img{
  background: #FFFFFF;
  border: 2px solid #404040;
  border-radius: 7px;
  display: block;
  margin: 50px auto 0;
  width: 177px;
  height: 236px;
}

.info{
  height: 100%;
  display: inline-block;
}

.name_and_id{
  font-family: 'Istok Web', Arial;
  font-size: 30px;
  margin-top: 50px;
}

.main_info{
  margin-top: 64px;
  width: 400px;
}

.main_info h1{
  color: #A9A9A9;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
}

.main_info span{
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

.main_info .added_info{
  text-align: right;
  font-size: 16px;
  float: right;
  font-weight: normal;
}

.work_info{
  margin-top: 64px;
  width: 400px;
}

.work_info h1{
  color: #A9A9A9;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
}

.work_info span{
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

.work_info .added_info{
  text-align: right;
  font-size: 16px;
  float: right;
  font-weight: normal;
}

.info .map{
  display: inline-block;
  float: right;
  width: 350px;
  height: 350px;
  margin-left: 600px;
  margin-top: -270px;
  border-radius: 7px;
}

.info .map iframe{
  box-shadow: 0px 1px 4px 0 #9d9595;
}

.info .map h1{
  color: #A9A9A9;
  font-size: 16px;
  font-weight: normal;
  margin-top: 90px;
  text-align: center;
}





/**************************/
/*ДЛЯ СТРАНИЦ В РАЗРАБОТКЕ*/
/**************************/

.in_process{
  margin-top: 120px;
  text-align: center;
}

.in_process p{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 70px;
}
